<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>EndTag</key>
		<string>*/</string>
		<key>StartTag</key>
		<string>/*</string>
	</dict>
	<key>Completions</key>
	<array>
    <dict>
      <key>ID</key>
      <string>Array</string>
      <key>String</key>
      <string>Array</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{5, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>Bool</string>
      <key>String</key>
      <string>Bool</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{4, 0}</string>
    </dict>
		<dict>
			<key>ID</key>
			<string>class</string>
			<key>String</key>
			<string>class</string>
			<key>PostString</key>
			<string> </string>
			<key>SelectionRange</key>
			<string>{6, 0}</string>
			<key>Parameters</key>
			<array>
				<string>className</string>
			</array>
		</dict>
    <dict>
      <key>ID</key>
      <string>Character</string>
      <key>String</key>
      <string>Character</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{9, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>Dictionary</string>
      <key>String</key>
      <string>Dictionary</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{10, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>Double</string>
      <key>String</key>
      <string>Double</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{6, 0}</string>
    </dict>
		<dict>
			<key>ID</key>
			<string>enum</string>
			<key>String</key>
			<string>enum</string>
			<key>PostString</key>
			<string> </string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>Parameters</key>
			<array>
				<string>enumName</string>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>false</string>
			<key>String</key>
			<string>false</string>
			<key>PostString</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>func</string>
			<key>String</key>
			<string>func</string>
			<key>PostString</key>
			<string> </string>
			<key>SelectionRange</key>
			<string>{5, 0}</string>
			<key>Parameters</key>
			<array>
				<string>functionName</string>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>let</string>
			<key>String</key>
			<string>let</string>
			<key>PostString</key>
			<string> </string>
			<key>SelectionRange</key>
			<string>{4, 0}</string>
			<key>Parameters</key>
			<array>
				<string>constant</string>
			</array>
		</dict>
    <dict>
      <key>ID</key>
      <string>Int</string>
      <key>String</key>
      <string>Int</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{3, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>override</string>
      <key>String</key>
      <string>override</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{8, 0}</string>
    </dict>
		<dict>
			<key>ID</key>
			<string>println</string>
			<key>String</key>
			<string>println</string>
			<key>PostString</key>
			<string>()</string>
			<key>SelectionRange</key>
			<string>{8, 0}</string>
		</dict>
    <dict>
      <key>ID</key>
      <string>protocol</string>
      <key>String</key>
      <string>protocol</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{8, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>return</string>
      <key>String</key>
      <string>return</string>
      <key>PostString</key>
      <string> </string>
      <key>SelectionRange</key>
      <string>{7, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>self</string>
      <key>String</key>
      <string>self</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{4, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>String</string>
      <key>String</key>
      <string>String</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{6, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>super</string>
      <key>String</key>
      <string>super</string>
      <key>PostString</key>
      <string></string>
      <key>SelectionRange</key>
      <string>{5, 0}</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>struct</string>
      <key>String</key>
      <string>struct</string>
      <key>PostString</key>
      <string> </string>
      <key>SelectionRange</key>
      <string>{7, 0}</string>
			<key>Parameters</key>
			<array>
				<string>structName</string>
			</array>
    </dict>
		<dict>
			<key>ID</key>
			<string>var</string>
			<key>String</key>
			<string>var</string>
			<key>PostString</key>
			<string> </string>
			<key>SelectionRange</key>
			<string>{4, 0}</string>
			<key>Parameters</key>
			<array>
				<string>variable</string>
			</array>
		</dict>
  </array>
</dict>
</plist>